doctype html
html
	head
		title= title
		link(rel='stylesheet', href='styles.css')
		script(type="text/javascript" src="xmlhttprequest.js")
		script(src='jquery.js')
	body
		block content
		script(src='app.js')